* {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .navigation .tablet-and-desktop {
  display: none;
}

footer .navigation .mobile {
  display: initial;
}

.navigation ul {
  display: flex;
  flex-direction: column;
}

.navigation li {
  margin-bottom: 0.25em;
  padding: 0.8em 1em;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  footer .navigation .tablet-and-desktop {
    display: flex;
  }

  footer .navigation .mobile {
    display: none;
  }

  .navigation ul {
    flex-direction: row;
  }

  .navigation li {
    margin: 0;
  }

}

@media screen and (min-width: 1024px) {

  footer .navigation .tablet-and-desktop {
    display: flex;
  }

  footer .navigation .mobile {
    display: none;
  }

  .navigation ul {
    flex-direction: row;
  }

  .navigation li {
    margin: 0;
  }

  .navigation li:last-child {
    padding-right: 0;
  }

}
